<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Review</title>
        <link rel="stylesheet" type="text/css" href="../../../style.css">
    </head>
    <body>
        <header>
            <div class="h1-and-video">
                <div class="h1">
                    <h1>Parks</h1>
                    <h1>of</h1>
                    <h1>Athens</h1>
                </div>
                <video src="../../../IMG_4259.mov" autoplay loop poster=""></video>
            </div>
            <div class="full-nav">
                <div class="login-buttons">
                    <% if (currentUser) { %>
                        <p>Welcome, <span class="username"><%=currentUser.username%></span>.</p>
                        <form action="/users/delete?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out">
                        </form>
                    <% } else { %>
                        <a href="/users">Log In</a>
                        <a href="/users/new">Create New Account</a>
                    <% } %>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/parks/events">Events</a>
                    <a href="/parks/contact">Contact Us</a>
                </nav>
            </div>
        </header>
        <h1>Edit Your Review</h1>
        <form action="/parks/<%=park.id%>/<%=i%>?_method=PUT" method="POST">
            Review: <input type="text" name="review" value="<%=park.reviews[i].review%>"> <br>
            Rating (0-5): <input type="number" name="rating" value="<%=park.reviews[i].rating%>"><br>
            <input type="submit" value="Save Edits">
        </form>
    </body>
</html>
