<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=park.name%></title>
    </head>
    <body>
        <header>

        </header>
        <h1><%=park.name%></h1>
        <p><%=park.rating%></p>
        <p><%=park.description%></p>
        <img src="<%=park.img%>" alt="Memorial Park picture">
    </body>
</html>
