<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=park.name%></title>
        <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <header>
            <% include ../../partials/header.ejs %>
        </header>
        <h1><%=park.name%></h1>
        <p><%=park.rating%></p>
        <p><%=park.description%></p>
        <img src="https://www.sandiego.gov/sites/default/files/legacy/park-and-recreation/graphics/missionhills.jpg" alt="Memorial Park picture">
        <p><%=park.img%></p>
        <div class="googleMaps">
            <p>This will show the location of the park on google maps, hopefully!</p>
        </div>
        <div class="reviews">
            <% for (let i = 0; i < park.reviews.length; i++) { %>
                <div class="review">
                    <p><%=park.reviews[i].author%> -- Rating: <%=park.reviews[i].rating%></p>
                    <p><%=park.reviews[i].review%></p>
                    <form action="/parks/<%=park.id%>/<%=i%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Your Review">
                    </form>
                </div>
            <% } %>
            <% if (currentUser) { %>
                <form action="/parks/<%= park.id %>/review" method="POST">
                    Write a New Review: <input type="text" name="review" placeholder="Write a Review!"><br>
                    Rating: <input type="number" name="rating" placeholder="0-5"><br>
                    <input type="submit" value="Submit Review">
                </form>
            <% } %>
        </div>
        <footer>
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
