<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=park.name%></title>
        <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <header>
            <div class="h1-and-video">
                <div class="h1">
                    <h1>Parks</h1>
                    <h1>of</h1>
                    <h1>Athens</h1>
                </div>
                <video src="../IMG_4259.mov" autoplay loop poster=""></video>
            </div>
            <div class="full-nav">
                <div class="login-buttons">
                    <% if (currentUser && currentUser !== 'Guest') { %>
                        <p>Welcome, <span class="username"><%=currentUser.username%></span>.</p>
                        <form action="/users/delete?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out">
                        </form>
                    <% } else { %>
                        <a href="/users">Log In</a>
                        <a href="/users/new">Create New Account</a>
                    <% } %>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="#">Events</a>
                    <a href="#">Contact Us</a>
                </nav>
            </div>
        </header>
        <div class="article-and-pic">
            <div class="article">
                <h1><%=park.name%></h1>
                <p>Rating:    <%=park.rating%></p><br><br>
                <p><%=park.description%></p>
            </div>
            <img src="<%=park.img%>" alt="Memorial Park picture">
        </div>
        <div class="reviews">
            <% for (let i = 0; i < park.reviews.length; i++) { %>
                <div class="review">
                    <p><%=park.reviews[i].author%> -- Rating: <%=park.reviews[i].rating%></p>
                    <p><%=park.reviews[i].review%></p>
                    <% if (currentUser.username == park.reviews[i].author) { %>
                        <a href="/parks/<%=park.id%>/<%=i%>/edit">Edit Your Review</a>
                        <form action="/parks/<%=park.id%>/<%=i%>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete Your Review">
                        </form>
                    <% } %>
                </div>
            <% } %>
            <% if (currentUser && currentUser != 'Guest') { %>
                <form action="/parks/<%= park.id %>/review" method="POST">
                    <fieldset>
                        <label>
                            Write a New Review:<br> <input type="text" name="review" placeholder="Write a Review!">
                        </label><br>
                        <label>
                            Rating:<br> <input type="number" name="rating" placeholder="0-5">
                        </label><br>
                        <input type="submit" value="Submit Review">
                    </fieldset>
                </form>
            <% } %>
        </div>
        <footer>
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
